@import url("https://fonts.googleapis.com/css?family=Quicksand|Work+Sans");
/* ------------------------------------
  Variables & Mixins
------------------------------------- */
/* ------------------------------------
  Main Styles
------------------------------------- */
body {
  margin: 0;
  line-height: 1.5;
  color: #333;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  background: #c0c6e5;
}

/* ------------------------------------
  List: Container + Header
------------------------------------- */
.container {
  width: 90%;
  background: #fff;
  max-width: 1000px;
  padding: 5% 7%;
  margin: 4em auto 6em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  -webkit-box-shadow: 2em 2.5em 8em rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2em 2.5em 8em rgba(0, 0, 0, 0.2);
  box-shadow: 2em 2.5em 8em rgba(0, 0, 0, 0.2);
  /* for mobile */
  /* for larger desktops */
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 5%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top: 1em solid #c0c6e5;
  }
}

@media screen and (min-width: 1680px) {
  .container {
    padding: 2em 3em;
  }
}

.title {
  line-height: 1;
  font-size: 2.8em;
  margin-top: 0;
  text-align: center;
}

.letters-list {
  margin: 0;
  padding: 0;
  vertical-align: top;
  list-style: none;
  font-size: 1.3em;
  text-align: center;
  text-transform: uppercase;
  padding: .5em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* flexbox */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.letter {
  text-decoration: none;
  font-size: .9em;
  color: #333;
  display: block;
  padding: 0 7px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* top nav 
.alphabetlist {
  margin: 1em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 5px 0;
}
.alphabetlist span {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}
.alphabetlist span.nope {
  color: #ddd; 
  cursor: default;
}
*/
/* ------------------------------------
  List: Main
------------------------------------- */
.main {
  padding: 1em 0;
}

.letter-section {
  margin: 2em 0;
  padding: 1em 0;
  border-top: 1px solid #ccc;
  vertical-align: top;
}

.letter-heading {
  margin: 0;
  width: 25%;
  font-weight: bold;
  padding-left: 1em;
  vertical-align: top;
  display: inline-block;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.words-list {
  list-style: none;
  display: inline-block;
  width: 74%;
  margin: 0;
  padding: 0 0 0 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.words-list.columns {
  -webkit-column-count: 3;
  column-count: 3;
}

.word {
  text-decoration: none;
  color: #333;
}

/* ------------------------------------
  Tooltips
--------------------------------------- */
.title_tag {
  display: inline-block;
  position: absolute;
  max-width: 200px;
  text-align: center;
  background-color: #eee;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  color: #000;
}

.title_tag p {
  font-size: 14px;
  line-height: 1.3;
}

.title_tag:before,
.title_tag:after {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #eee;
  bottom: -15px;
  content: '';
  left: 50%;
  margin-left: -15px;
  position: absolute;
}

.title_tag:before {
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 18px solid;
  border-top-color: inherit;
  /* Can't be included in the shorthand to work */
  bottom: -18px;
  margin-left: -18px;
}
/*# sourceMappingURL=style.css.map */