@import url('https://fonts.googleapis.com/css?family=Quicksand|Work+Sans');

/* ------------------------------------
  Variables & Mixins
------------------------------------- */
$font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

$white: #fff;
$grey: #ccc;
$highlight-color: #c0c6e5;

$s-breakpoint: 576px;
$m-breakpoint: 768px;
$l-breakpoint: 992px;
$xl-breakpoint: 1200px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin column-count($count) {
  -webkit-column-count: $count;
  -moz-column-count: $count;
  column-count: $count;
}
@mixin transition($var) {
  -webkit-transition: $var;
  -o-transition: $var;
  transition: $var;
}


body {
  background: $highlight-color;
}

.wrapper {
  max-width: 960px;
  @include border-radius(1.5em);
}
.title {
  font-size: 2rem;
  @media screen and (min-width: $m-breakpoint) {
  }
}
.letters-link {
  // 
}
.words-heading {
  font-size: 1.5rem;
  @media screen and (min-width: $m-breakpoint) {
    
  }
}
.words-list {
  @include column-count(2);
  @media screen and (min-width: $s-breakpoint) {
    @include column-count(3);
  }
}
#back-to-top {
  position: fixed;
  bottom: 5px;
  right: 5px;
  @include transition(all 500ms ease);
}
#back-to-top.hidden {
  opacity: 0;
}