@import url('https://fonts.googleapis.com/css?family=Quicksand|Work+Sans');

/* ------------------------------------
  Variables & Mixins
------------------------------------- */
$font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

$white: #fff;
$grey: #ccc;
$highlight-color: #c0c6e5;

$s-breakpoint: 480px; // max mobile
$m-breakpoint: 768px; // max-tablet
$l-breakpoint: 1280px;
$xl-breakpoint: 1680px;

@mixin box-sizing($var) {
  -webkit-box-sizing: $var;
  -moz-box-sizing: $var;
  box-sizing: $var;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($var) {
  -webkit-box-shadow: $var;
  -moz-box-shadow: $var;
  box-shadow: $var;
}
@mixin transition($var) {
  -webkit-transition: $var;
  -o-transition: $var;
  transition: $var;
}


body {
  background: $highlight-color;
}

.wrapper {
  max-width: 960px;
  @include border-radius(1.5em);
}
.title {
  @media screen and (max-width: 767px) {
    font-size: 2rem;
  }
}
.letters-link {}
.words-heading {
  @media screen and (max-width: 767px) {
    font-size: 1.5rem;
  }
}